.editor-page{
  margin-top: 1.5rem;
}

.btn-primary {
  float: right;
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.form-group{
  margin-bottom: 1rem;
}

.btn-lg{
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.3rem;
}
